/data/raw/Tax4Fun2_ReferenceData_v2
data/intermediate/*
/data/raw/SILVA_SSU_r138_2019.RData
/manuscrito
/qgis
/etc
/test
/output
/analysis
/genbank-submission
/data/raw/*gz
RefData.zip
*DS_Store
.Rproj.user
biblio
!data/intermediate/report.txt
!data/intermediate/faprotax.tsv
!data/intermediate/bmntd.Rdata
!data/intermediate/bnti.rds
!data/intermediate/deseq_results_merged.rds
!data/intermediate/tax_df.rds
!data/intermediate/ps_t_noRep.rds
!data/intermediate/alpha_div_bt.rds


